{% extends 'base.html.twig' %}
{% block body  %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-3">
        <a class="navbar-brand  bg-dark text-white" href="/">PhoneBook</a>
        <div class="collapse navbar-collapse align-right">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="username_capital">
                        <a href="/Home/{{ contact.user_id }}/index" class="abba nav-link ">{{ username }}'s Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Logout/index" class="abba nav-link ">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="error my-5">
        {% for error in errors %}
            <div class="colorerror text-danger">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <form action="" method="post" class="form_changepassword">
        <div class="form-group">
            <label for="password_current">Current password</label>
            <input type="password"  class="form-control" name="password_current" id="password_current">
        </div>
        <div class="form-group">
            <label for="password_new">New password</label>
            <input type="password"  class="form-control" name="password_new" id="password_new">
        </div>
        <div class="form-group">
            <label for="password_new_again">New password again</label>
            <input type="password"  class="form-control" name="password_new_again" id="password_new_again">
        </div>
        <input type="submit"  class="btn btn-warning" value="Save">
        <input type="hidden" name="token" value="{{ token }}">
    </form>
{% endblock %}